.settings/

*.swf
*.air
*.ipa
*.apk
*.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.class
*.log
*.sql

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
target/

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

package-lock.json
yarn.lock